<%- include("sidebar.ejs") %>
<!-- Page Content -->
<%- include("header.ejs")%>

             <!-- Categories Section -->
             <section id="categories" class="content-section">
                <h3>Category Management</h3><br>
                <form class="category-form">
                    <button class="btn-primary" id="add-category-btn">Add Category</button>
                </form>
                <table>
                    <thead>
                        <tr>
                            <th>Category Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="category-list">
                        <!-- Dynamic Category List will be appended here -->
                    </tbody>
                </table>
            </section>
<%- include("footer.ejs")%>
