


<%- include("sidebar.ejs") %>
<!-- Page Content -->
<%- include("header.ejs")%>

<!-- Reports Section -->
  <section id="reports" class="content-section active">
    <h3>Sales and Performance Reports</h3>
    <p>Coming soon...</p>
</section>


<%- include("footer.ejs")%>