<%- include("sidebar.ejs") %>
<!-- Page Content -->
<%- include("header.ejs")%>


   <!-- Settings Section -->
   <section id="settings" class="content-section active">
    <h3>Settings</h3>
    <p>Coming soon...</p>
</section>

<%- include("footer.ejs")%>